<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <title>Bienvenido</title>
</head>
<body>
  <h2>Dashboard</h2>
  <div class="containerr">
    <nav>
      <ul style="list-style: none;"> <!-- Este estilo se debe poner luego en el CSS. Estilo temporal para mejor visualidad -->
      <br>
        <li><p>Logo</p></li>
        <li><a href="#">Inicio</a></li>
        <li><a href="{% url 'inmu' %}">Inmuebles</a></li>
        <li>
          <select name="personas" id="personas" onchange="location.href=this.value;">
            <option value="1">Personas</option>
            <option value="{% url 'personas_propietarios' %}">Propietarios</option>
            <option value="{% url 'personas_inquilinos' %}">Inquilinos</option>>
          </select>
        </li>
        <li>
          <select name="analisis" id="analisis" onchange="location.href=this.value;">
            <option value="1">Analisis</option>
            <option value="{% url 'analisis_propietarios' %}">Propietarios</option>
            <option value="{% url 'analisis_inquilinos' %}">Inquilinos</option>
          </select>
        </li>
        <li><a href="{% url 'tareas' %}">Tareas</a></li>
        <br>
        <li><a href="{% url 'close_session' %}">Cerrar Sesión</a></li>
        <li><a href="{% url 'noti' %}">Notificaciones</a></li>
        <li><p>Foto</p></li>
      </ul>
    </nav>
  </div>
  <ul style="list-style: none;">
    <h2>Inmuebles Totales</h2>
    <li><h3>{{ context.inmuebles }}</h3></li>
    <br>
    <h2>Arrendatarios Totales</h2>
    <li><h3>{{ context.arrendatarios }}</h3></li>
    <br>
    <h2>Propietarios Totales</h2>
    <li><h3>{{ context.propietarios }}</h3></li>
    <br>
  </ul>
  ---------------------------------------------------------------
  <h2>Tareas</h2>
  <a href="{% url 'AddTarea' %}"> + Crear Tarea</a>
  <br><br>

  <ul> <!-- Estos estilos luego toca pasarlos a una hoja de CSS para tenerlos más organizados -->
    <li style="display: inline-block; margin-right: 20px;">
      <h5 style="display: inline;">Pendientes:</h5>
      <h6 style="display: inline;">{{ context.tareas }} tareas abiertas</h6>
    </li>
  </ul>
  <ul>
    {% for tarea in context.pendientes %}
      <li>Etiqueta: {{ tarea.etiqueta }}</li>
      <li><h3>Titulo: {{ tarea.titulo }}</h3></li>
      <li>Fecha incio: {{ tarea.fecha_inicio }}      Fecha fin: {{ tarea.fecha_fin }}</li>
      <h4>{{ tarea.superuser_id.nombre }} {{ tarea.superuser_id.apellido }}</h4>
    ----------------------------------------------------- <!-- Estos guiones solo son para guiarnos y saber cuando termina cada tarea -->
    {% endfor %}
  </ul>
  <h4 style="display: inline;">Propietarios</h4> <input type="search" id="buscar" name="buscar" placeholder="Buscar...">

  <table>
    <thead>
        <tr>
            <th>ID</th>
            <th>Nombre</th>
            <th>Email</th>
            <th>Telefono</th>
            <th>Estado</th>
            <th>Dirección</th>
        </tr>
    </thead>
    <tbody>
      {% for propietario, direccion, rango_propietarios, estados in propietarios %}
      <tr>
          <td>{{ forloop.counter}}</td>
          <td>{{ propietario.nombre |add:" "|add:propietario.apellido}}</td>
          <td>{{ propietario.email }}</td>
          <td>{{ propietario.telefono }}</td>
          <td>{{ estados }}</td>
          <td>{{ direccion }}</td>
      </tr>
      {% endfor %}
  </tbody>
</table>
--------------------------------------------------------------------------------------------------<!-- Fin de la tabla de propietarios -->


<h4 style="display: inline;">Clientes/Arrendatarios</h4> <input type="search" id="buscar" name="buscar" placeholder="Buscar...">

<table>
  <thead>
      <tr>
          <th>ID</th>
          <th>Nombre</th>
          <th>Email</th>
          <th>Telefono</th>
          <th>Estado</th>
          <th>Dirección</th>
      </tr>
  </thead>
  <tbody>
    {% for arrendatario, direccionArrendatario, rango_arrendatarios, estadosArrendatario in arrendatarios %}
    <tr>
        <td>{{ forloop.counter}}</td>
        <td>{{ arrendatario.nombre |add:" "|add:arrendatario.apellido}}</td>
        <td>{{ arrendatario.email }}</td>
        <td>{{ arrendatario.telefono }}</td>
        <td>{{ estadosArrendatario }}</td>
        <td>{{ direccionArrendatario }}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
--------------------------------------------------------------------------------------------------------<!-- Fin de la tabla de Arrendatarios -->
<!-- Enlistar el resumen de los inmuebles tipo lista-->
<h4 style="display: inline;">Inmuebles</h4> <input type="search" id="buscar" name="buscar" placeholder="Buscar...">
<br><br><br><br>


</body>
</html>