<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Recibo de Alquiler/Renta</title>
    <link rel="stylesheet" href="factura.css">
</head>
<body>
    <div class="recibo">
        <!-- Encabezado -->
        <div class="header">
            <div class="logo">
                <img src="{{ logo_rentacasa_url }}" alt="Renta Casa" />
            </div>
            <div class="info">
                <h3>RENTA CASA</h3>
                <p>Tu inmobiliaria amiga</p>
                <p>NIT 1088261920-1</p>
                <p>Carrera 23 Bis N° 72-43 Barrio Cuba</p>
                <p>Pereira Risaralda</p>
                <p>Área administrativa 3238162051</p>
                <p>Área comercial 3215865975</p>
            </div>
            <div class="datacredito">
                <img src="{{ logo_datacredito_url }}" alt="Datacrédito" />
            </div>
            <div class="receipt-info">
                <div class="cabeceras">
                    <p class="header-p">Recibo N°</p>
                </div>
                <p>{{ consecutivo }}</p>
                <div class="cabeceras">
                    <p class="header-p">Fecha de emisión</p>
                </div>
                <p>{{ fecha_actual }}</p>
            </div>
        </div>

        <!-- Título Principal -->
        <div class="main-title">
            <h2>RECIBO DE ALQUILER/RENTA</h2>
            <p>Confirmación de pago mensual</p>
        </div>

        <!-- Cuerpo del Recibo -->
        <div class="recibo-grid">
            <div class="item label">Recibí de:</div>
            <div class="item data" style="grid-column: span 2;">{{ usuario.nombre|upper}}  {{ usuario.apellido|upper}}</div>
            <div class="item label">N° Documento:</div>
            <div class="item data">{{ usuario.documento }}</div>
            <div class="item label" style="grid-column: span 5;">Por concepto de Renta mensual propiedad ubicada en:</div>
            <div class="item data" style="grid-column: span 5;">{{ inmueble.direccion |upper }}</div>
            <div class="item label" style="grid-column: span 2;">Canon de arrendamiento:</div>
            <div class="item data">$ {{ inmueble.canon }}</div>
            <div class="item label">Pago Neto:</div>
            <div class="item data">$ {{ totalPagar }}</div>
            <div class="item label">Valor (en letras):</div>
            <div class="item data" style="grid-column: span 4;">{{totalPagarLetras}}</div>
            <div class="item label">Descuento:</div>
            <div class="item data">$ {{ valor_descuento }}</div>
            <div class="item label">Observación:</div>
            <div class="item data" style="grid-column: span 2; word-wrap: break-word; white-space: pre-wrap;">{{obs_descuento}}</div>
            <div class="item label">Días moratorios:</div>
            <div class="item data">$ {{ monto }}</div>
            <div class="item label">Observación:</div>
            <div class="item data" style="grid-column: span 2; word-wrap: break-word; white-space: pre-wrap;">Valor Acumulado extra por cada Día de incumplimiento</div>
            <div class="item label">Otro valor:</div>
            <div class="item data">$ {{otro_valor}}</div>
            <div class="item label">Observación:</div>
            <div class="item data" style="grid-column: span 2; word-wrap: break-word; white-space: pre-wrap;">{{obs_otro}}</div>
            <div class="item label" style="grid-column: span 2;">Fecha de pago desde hasta:</div>
            <div class="item data" style="grid-column: span 3;">{{meses_pagados}}</div>
            <div class="item label">Pagos en:</div>
            <div class="item label">Efectivo:</div>
            <div class="item data"><input type="checkbox" {% if metodo_pago == '4' %} checked {% endif %}></div>
            <div class="item label transferencia">Transferencia:</div>
            <div class="item data transferencia-data"><input type="checkbox" {% if metodo_pago == '5' %} checked {% endif %}></div>
            <div class="firma">
                <h3>Firma</h3>
                <img src="{{ firma_carlos }}" alt="Renta Casa" />
                <p>Carlos Andrés Soto M.</p>
                <p>DIRECTOR GENERAL RENTA CASA</p>
            </div>
            <p class="normas" style="grid-column: span 5;">De conformidad con lo establecido en el <strong>artículo 772</strong> del Código de Comercio el cual señala, “Factura es un título valor que el vendedor o prestador 
                del servicio podrá librar y entregar o remitir al comprador o beneficiario del servicio. <strong>MODALIDAD DE FACTURACIÓN: FACTURA POR COMPUTADOR:</strong> Emitida por medio de un software, 
                donde interactúa la programación, el control y la ejecución de las funciones inherentes a la venta o servicio, entre otras, la emisión de facturas, comprobantes, notas crédito, etc. 
                Mediante este documento se soporta transacciones de venta de bienes y/o servicios y que operativamente tiene lugar a través de sistemas computacionales 
                y/o soluciones informáticas <strong>(Art 2. Decreto 2242 DE 2015).</strong>
            </p>
        </div>
    </div>
</body>
</html>
