<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Notificaciones</title>
</head>
<body>
    <h2>Notificaciones y demás</h2>
    <div class="containerr">
      <nav>
        <ul style="list-style: none;"> <!-- Este estilo se debe poner luego en el CSS. Estilo temporal para mejor visualidad -->
        <br>
          <li><p>Logo</p></li>
          <li><a href="{% url 'inicio' %}">Inicio</a></li>
          <li><a href="{% url 'inmu' %}">Inmuebles</a></li>
          <li>
            <select name="personas" id="personas" onchange="location.href=this.value;">
              <option value="1">Personas</option>
              <option value="{% url 'personas_propietarios' %}">Propietarios</option>
              <option value="{% url 'personas_inquilinos' %}">Inquilinos</option>>
            </select>
          </li>
          <li>
            <select name="analisis" id="analisis" onchange="location.href=this.value;">
              <option value="1">Analisis</option>
              <option value="{% url 'analisis_propietarios' %}">Propietarios</option>
              <option value="{% url 'analisis_inquilinos' %}">Inquilinos</option>
            </select>
          </li>
          <li><a href="{% url 'tareas' %}">Tareas</a></li>
          <br>
          <li><a href="{% url 'close_session' %}">Cerrar Sesión</a></li>
          <li><a href="#">Notificaciones</a></li>
          <li><p>Foto</p></li>
        </ul>
      </nav>
    </div>
</body>
</html>