<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registrar</title>
</head>
<body>
    <h3>Registar a un administrador</h3>
    <form action="dash" method="get">
        {% csrf_token %}
        <label for="documento">Nombre</label>
        <input type="text" name="nombre" id="documento">
        <br>
        <label for="pass">Apellidos</label>
        <input type="password" name="apellidos" id="password">
        <br>
        <label for="documento">Telefono</label>
        <input type="text" name="telefono" id="documento">
        <br>
        <label for="documento">Documento</label>
        <input type="text" name="documento" id="documento">
        <br>
        <label for="pass">Password</label>
        <input type="password" name="password" id="password">
        <br><br>
        <button type="submit">Registrar</button>
<br><br><br>
    </form>
</body>
</html>