{% extends "barra_navegacion.html" %}
{% load static %}

{% block static %}
  <script type="text/javascript"  src='{% static "js/analisis/analisis_inquilinos.js" %}'></script>
  <link rel="stylesheet" href='{% static "css/analisis/inquilinos/analisis_inquilinos.css" %}' type="text/css">
{% endblock static %}

{% block encabezado %}
  Analisis
{% endblock encabezado %}

{% block title %}
<div class="tittle">
  Analisis - Inquilinos
</div>
{% endblock title %}

{% block contenido %}
  <div class="contenido">
    <h3>Seguimiento de los inquilinos activos</h3>
    <div class="encabezado">
      <p class="encabezado-total">{{ contador }} Arrendatarios</p> 
      <div class="search">
        <div class="search-box">
          <div class="search-field">
            <input type="search" id="buscar" name="buscar" class="input" placeholder="Buscar...">
            <div class="search-box-icon">
              <button class="btn-icon-content">
                <i class="search-icon">
                  <svg xmlns="://www.w3.org/2000/svg" version="1.1" viewBox="0 0 512 512"><path d="M416 208c0 45.9-14.9 88.3-40 122.7L502.6 457.4c12.5 12.5 12.5 32.8 0 45.3s-32.8 12.5-45.3 0L330.7 376c-34.4 25.2-76.8 40-122.7 40C93.1 416 0 322.9 0 208S93.1 0 208 0S416 93.1 416 208zM208 352a144 144 0 1 0 0-288 144 144 0 1 0 0 288z" fill="#000000"></path></svg>
                </i>
              </button>
            </div>
          </div>
        </div>
      </div>
      <div class="encabezado-add-hover">
        <a href="{% url 'AddInquilinos' %}" class="encabezado-add"> <p>+ Añadir Inquilino</p></a>
      </div>
    </div>
    <div class="table-container">
      <div class="scrollable-table-container">
        <div class="table-inmuebles">
          <table>
            <thead>
                <tr>
                    <th id="id">ID</th>
                    <th id="name">Nombre</th>
                    <th id="direc">Dirección</th>
                    <th id="inicio_c">Inicio de contrato</th>
                    <th id="fin_c">Fin de contrato</th>
                    <th id="f_pago">Fecha de pago</th>
                    <th id="l_pago">Limite de pago</th>
                    <th id="t_contra">Tipo de contrato</th>
                    <th id="inmu">Inmueble</th>
                    <th id="v_pago">Deuda de Mora</th>
                    <th id="v_pago">Valor del Canon</th>
                    <th id="est">Estado</th>
                </tr>
            </thead>
            <tbody id="propietarios">
              {% for inmueble, tipoInmueble, estadoPago, estados_espacio, monto, total in datosUsuario %}
              <tr>
                  <td><button onclick="enviarValor('{{ inmueble.id }}', '{% url 'AllValuesArr' id=inmueble.id %}')" value="{{ inmueble.id }}">{{ forloop.counter}}</button></td>
                  <td><button onclick="enviarValor('{{ inmueble.id }}', '{% url 'AllValuesArr' id=inmueble.id %}')" value="{{ inmueble.id }}">{{ inmueble.arrendatario_id.usuarios_id.nombre |add:" "|add:inmueble.arrendatario_id.usuarios_id.apellido }}</button></td>
                  <td><button onclick="enviarValor('{{ inmueble.id }}', '{% url 'AllValuesArr' id=inmueble.id %}')" value="{{ inmueble.id }}"><img class="image-icon" width="24" height="24" src="https://img.icons8.com/ios-filled/100/marker.png" alt="marker"/>{{ inmueble.direccion }}</button></td>
                  <td><button onclick="enviarValor('{{ inmueble.id }}', '{% url 'AllValuesArr' id=inmueble.id %}')" value="{{ inmueble.id }}">{{ inmueble.arrendatario_id.inicio_contrato|date:"d/m/Y" }}</button></td>
                  <td><button onclick="enviarValor('{{ inmueble.id }}', '{% url 'AllValuesArr' id=inmueble.id %}')" value="{{ inmueble.id }}">{{ inmueble.arrendatario_id.fin_contrato|date:"d/m/Y" }}</button></td>
                  <td><button onclick="enviarValor('{{ inmueble.id }}', '{% url 'AllValuesArr' id=inmueble.id %}')" value="{{ inmueble.id }}">{{ inmueble.arrendatario_id.fecha_inicio_cobro|date:"d/m/Y" }}</button></td>
                  <td><button onclick="enviarValor('{{ inmueble.id }}', '{% url 'AllValuesArr' id=inmueble.id %}')" value="{{ inmueble.id }}">{{ inmueble.arrendatario_id.fecha_fin_cobro|date:"d/m/Y" }}</button></td>
                  <td><button onclick="enviarValor('{{ inmueble.id }}', '{% url 'AllValuesArr' id=inmueble.id %}')" value="{{ inmueble.id }}">{{ inmueble.arrendatario_id.tipo_contrato }}</button></td>
                  <td><button onclick="enviarValor('{{ inmueble.id }}', '{% url 'AllValuesArr' id=inmueble.id %}')" value="{{ inmueble.id }}"><img class="image-icon-home" width="24" height="24" src="https://img.icons8.com/pastel-glyph/24/home.png" alt="home"/> {{ tipoInmueble }}</button></td>
                  <td><button onclick="enviarValor('{{ inmueble.id }}', '{% url 'AllValuesArr' id=inmueble.id %}')" value="{{ inmueble.id }}">${{ monto }}</button></td>
                  <td><button onclick="enviarValor('{{ inmueble.id }}', '{% url 'AllValuesArr' id=inmueble.id %}')" value="{{ inmueble.id }}">${{ total }}</button></td>
                  <td><button class="especialI" onclick="enviarValor('{{ inmueble.id }}', '{% url 'AllValuesArr' id=inmueble.id %}')" value="{{ inmueble.id }}"><p class="{{ estados_espacio }}">{{ estadoPago }}</p></button></td>
                </tr>
                {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
{% endblock %}  


