{% extends "barra_navegacion.html" %}
{% load static %}

{% block static %}
  <script type="text/javascript"  src='{% static "js/analisis/analisis_inquilinos.js" %}'></script>
  <link rel="stylesheet" href='{% static "css/analisis/inquilinos/analisis_inquilinos.css" %}' type="text/css">
{% endblock static %}

{% block encabezado %}
  Analisis
{% endblock encabezado %}

{% block title %}
  Analisis - Inquilinos
{% endblock title %}

{% block contenido %}
  <h2>Inquilinos</h2>
  <h3>Seguimiento de los inquilinos</h3>
  <h5>Estado de los inquilinos activos en la plataforma con respecto al pago mensual de la cuota del arrendamiento</h5>
  <p>Total de Inquilinos: {{ contador }}</p> 
  <input type="search" id="buscar" name="buscar" placeholder="Buscar..."> <button name="filtro" id="filtro" value="3">Filtrar</button> <a href="{% url 'AddInquilinos' %}"> + Añadir Inquilino</a>
  <br>
  <p>Tabla donde se muestran a todos los Inquilinos.</p>
  <table>
    <thead>
        <tr>
            <th>ID</th>
            <th>Nombre</th>
            <th>Dirección</th>
            <th>Fecha de pago</th>
            <th>Limite de pago</th>
            <th>Telefono</th>
            <th>Email</th>
            <th>Inicio de contrato</th>
            <th>Fin de contrato</th>
            <th>Valor de Pago</th>
            <th>Tipo de contrato</th>
            <th>Estado</th>
        </tr>
    </thead>
    <tbody id="inquilinos">
      {% for usuario, direccion, fechaPago, limitePago, valorPago, inicioContrato, finContrato, tipoContrato, estados in datosUsuario %}
      <tr>
          <td><button>{{ forloop.counter}}</button></td>
          <td><button>{{ usuario.nombre |add:" "|add:usuario.apellido}}</button></td>
          <td><button>{{ direccion }}</button></td>
          <td><button>{{ fechaPago }}</button></td>
          <td><button>{{ limitePago }}</button></td>
          <td><button>{{ usuario.telefono }}</button></td>
          <td><button>{{ usuario.email }}</button></td>
          <td><button>{{ inicioContrato }}</button></td>
          <td><button>{{ finContrato }}</button></td>
          <td><button>{{ valorPago }}</button></td>
          <td><button>{{ tipoContrato }}</button></td>
          <td><button>{{ estados }}</button></td>
      </tr>
      {% endfor %}
    </tbody>
  </table> <br><br><br>
{% endblock %}


