.tittle{
    margin-left: 13%;
}
/* ----------------------------Estilos para los totales--------------------- */
.totales {
    margin-left: 13%;
    display: flex;
    flex-direction: column;
    align-items: left;
}
.totales h2 {
    font-size: 24px;
    font-weight: bold;
    text-align: left;
    margin-bottom: -5px;
    margin-top: 0px;
}
.totales h3 {
    font-size: 24px;
    margin-bottom: 0;
}
.totales ul {
    list-style: none;
    padding: 0;
    display: flex;
    border: none;
}
.totales li {
    border-radius: 10px; 
    width: 200px; 
    text-align: left;
    margin-bottom: 10px;
    margin-top: 0px;
}
.uno, .dos, .tres{
    padding: 10px 5px 0px 10px;
    background-color: rgba(238, 250, 252, 1);
    border-radius: 10px;
    border: 2px solid #ccc;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.516);
    margin-right: 20px;
}

/* -----------------Fin de totales-------------------------------Inicio de tareas----------------------------- */
.tareas {
    display: flex;
    flex-direction: column;
    align-items: left;
    text-align: left;
    justify-content: flex-end;
    border: 2px solid #ccc;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.516);
    width: 490px;
    margin-right: 14.5px;
    position: absolute;
    right: 0;
    top: 47px;
}
.tareas ul {
    list-style: none;
    border: none;
}
#tittle-tareas{
    margin: 8px 15px 40px;
    font-size: 50px;
}
.tareas-hover{
    border: 2px solid #ababab;
    border-radius: 5px; /* Rounded corners for input fields */
    width: 92%;
    height: 40px;
    margin-left: 20px;
}
#Add-tarea{
    text-decoration: none;
    color: #000;
    font-weight: bold;
    font-size: 20px;
    margin-top: -5px;
}
.tareas-hover:hover{
    background-color: rgb(62, 85, 203);
}
.tareas p{
    margin-top: -28px;
    align-items: center;
    text-align: center;
}
.tareas p:hover{
    color: rgb(230, 230, 230);
}
.pendientes{
    margin-left: -2.6%;
    align-items: center;
    display: flex;
    gap: 10px;
    border: 2px solid #ababab;
    border-radius: 5px; /* Rounded corners for input fields */
    width: 98.3%;
    height: 55px;
    margin-bottom: 10px;
}
.pendientes h5{
    font-size: 30px;
    padding-left: 20px;
}
.pendientes h6{
    color: #8a8a8a;
    font-size: 22px;
    padding-top: 4px;
}
.tarea-btn{
    width: 98%;
    margin-left: -11px;
    margin-bottom: -20px;
    background-color: white;
    color: black;
    border:solid #ababab;
}
.tarea-btn:hover{
    background-color: rgb(62, 85, 203);
    color: rgb(230, 230, 230);
}
.ciclo li{
    text-align: left;
    align-items: left;
}
.presentar{
    background-color: rgb(150, 255, 142); /* Color para "Pendiente" */
    color: rgb(67, 156, 59);
}
.visitar{
    background-color: rgb(255, 253, 142); /* Color para "Pendiente" */
    color: rgb(156, 148, 59);
}
.mantenimiento{
    background-color: rgb(142, 165, 255); /* Color para "Pendiente" */
    color: rgb(59, 62, 156);
}
.urgente{
    background-color: rgb(255, 142, 142); /* Color para "Pendiente" */
    color: rgb(156, 59, 59);
}