.title-add, .contenido {
    margin-left: 13%;
}
.tarea-btn {
    margin-top: 20px;
    width: 190px;
    height: 45px;
    border-radius: 10px;
    background-color: #1677ff;
    color: white;
    font-weight: bold;
    font-size: 18px;
    cursor: pointer;
    border: 2px dashed #1677ff;
    box-shadow: 0px 48px 35px -48px rgba(0,0,0,0.1);
}
.tarea-btn:hover, .btnDescuento:hover, .btnConfirmar:hover{
    background-color: #30db12;
    border: 2px dashed #30db12;
}
.tarea-btn img {
    margin-top: -5px;
    margin-left: -8px;
    filter: invert(100%) brightness(180%); 
}
.firts-block, .second-block, .thrid-block {
    padding: 13px;
    padding: 10px 5px 0px 10px;
    background-color: rgb(240, 244, 255);
    border-radius: 10px;
    border: 2px solid #ccc;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.516);
    margin-right: 20px;
}
#btn {
    margin-top: -42px;
    position: absolute;
    left: 84%;
    width: 190px;
    height: 45px;
    border-radius: 10px;
    background-color: #1677ff;
    color: white;
    font-weight: bold;
    font-size: 18px;
    cursor: pointer;
    border: 2px dashed #1677ff;
    box-shadow: 0px 48px 35px -48px rgba(0,0,0,0.1);
}
.campos-one, .campos-two, .campos-three, 
.campos-four, .campos-five {
    display: flex;
    gap: 20px;
}
/* ---------------------------------------------------------Inicio de select------------------------------------------------------------------------------ */
.pre-label {
    display: flex;
    font-weight: bold;
    font-size: 15px;
    margin-left: 10px;
    margin-top: -12px;
}
.select1-container, .select2-container {
    margin-left: 8px;
    margin-top: -11.5px;
    position: relative;
}
.select1-container select, .select2-container select{
    width: 300px; /* Ancho de los selectores */
    height: 36px;
    padding: 5px 0px; /* Padding interno de los selectores */
    padding-left: 5px;
    border: 1px solid rgb(103, 128, 253); /* Borde de los selectores */
    font-weight: bold;
    background-color: rgb(255, 255, 255); /* Color de fondo de los selectores */
    color: #000000; /* Color del texto de los selectores */
    appearance: none; /* Eliminar el estilo por defecto de los selectores */
    margin-bottom: 8px; /* Margen inferior de los selectores */
    border-radius: 8px;
    cursor: pointer;
    box-shadow: 3px 3px 10px rgb(103, 128, 253),
    -1px -1px 6px rgba(255, 255, 255, 0.4),
    inset 3px 3px 10px rgba(255, 255, 255, 0.4),
    inset -1px -1px 6px rgba(255, 255, 255, 0.4);
}
.select1::after, .select2::after {
    content: '\f0da'; /* Icono de flecha hacia abajo (Font Awesome) */
    font-family: 'FontAwesome'; /* Icono de Font Awesome */
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    pointer-events: none; /* Evitar que el icono se pueda hacer clic */
}
.select1-container select:focus, .select2-container select:focus {
    outline: none; /* Eliminar el contorno al enfocar */
    border: 2px solid transparent;
    box-shadow: 3px 3px 10px rgb(103, 128, 253),
    -1px -1px 6px rgb(103, 128, 253),
    inset 3px 3px 10px rgba(255, 255, 255, 0.4),
    inset -1px -1px 6px rgb(103, 128, 253);
}
.select1-container select.form-select option, .select2-container select.form-select option{
    color: rgb(0, 0, 0)!important; /* Cambiar el color del texto a blanco */
    background-color: white!important;
}
/* ----------------------------------------Fin de select --------------------Inicio de input-------------------------------------------- */
.container {
    display: flex;
    flex-direction: column;
    gap: 7px;
    position: relative;
    color: rgb(0, 0, 0);
    font-weight: bold;
    width: 22%;
    margin-left: -8px;
    margin-right: 30px;
}
.container .label {
    display: flex;
    font-size: 15px;
    padding-left: 8px;
    position: absolute;
    top: -22px;
    transition: 0.3s;
    pointer-events: none;
}
.else{
    font-weight: bold;
    display: flex;
    gap:10px;
    font-size: 18px;
    margin-left: 10px;
    margin-top: 6px;
}
.input {
    width: 250px;
    height: 35px;
    border: none;
    outline: none;
    padding: 0px 7px;
    border-radius: 6px;
    color: #000000;
    font-size: 15px;
    background-color: transparent;
    box-shadow: 3px 3px 10px rgb(103, 128, 253),
    -1px -1px 6px rgba(255, 255, 255, 0.4);
}
.input-aux{
    width: 303px;
}
.input:focus {
    border: 2px solid transparent;
    color: #000000;
    box-shadow: 3px 3px 10px rgb(103, 128, 253),
    -1px -1px 6px rgba(255, 255, 255, 0.4),
    inset 3px 3px 10px rgba(0,0,0,1),
    inset -1px -1px 6px rgba(255, 255, 255, 0.4);
}
.container .input:valid, .container .input:focus {
    box-shadow: 3px 3px 10px rgb(103, 128, 253);
}
.container-aux{
    margin-right: -2px;
}
.container-aux2{
    margin-right: 5px;
}
.container-aux3{
    margin-right: 10px;
    margin-top: -17px !important;
}
.ui-checkbox, 
.ui-checkbox *, 
.ui-checkbox *::before, 
.ui-checkbox *::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.ui-checkbox {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 20px;
    height: 20px;
    border-radius: 5px;
    background: white;
    border: 1px solid #d9d9d9;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
    cursor: pointer;
    position: relative;
    margin-left: 15px;
    margin-top: 5px;
}
.ui-checkbox-aux {
    margin-left: 6px;
    margin-top: -13px;
}
.ui-checkbox::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    -webkit-box-shadow: 0 0 0 calc(20px / 2.5) #1677ff;
    box-shadow: 0 0 0 calc(20px / 2.5) #1677ff;
    border-radius: inherit;
    opacity: 0;
    -webkit-transition: all 0.5s cubic-bezier(0.12, 0.4, 0.29, 1.46);
    -o-transition: all 0.5s cubic-bezier(0.12, 0.4, 0.29, 1.46);
    transition: all 0.5s cubic-bezier(0.12, 0.4, 0.29, 1.46);
}
.ui-checkbox::before {
    top: 40%;
    left: 50%;
    content: "";
    position: absolute;
    width: 4px;
    height: 7px;
    border-right: 2px solid #fff;
    border-bottom: 2px solid #fff;
    -webkit-transform: translate(-50%, -50%) rotate(45deg) scale(0);
    -ms-transform: translate(-50%, -50%) rotate(45deg) scale(0);
    transform: translate(-50%, -50%) rotate(45deg) scale(0);
    opacity: 0;
    -webkit-transition: all 0.1s cubic-bezier(0.71, -0.46, 0.88, 0.6),opacity 0.1s;
    -o-transition: all 0.1s cubic-bezier(0.71, -0.46, 0.88, 0.6),opacity 0.1s;
    transition: all 0.1s cubic-bezier(0.71, -0.46, 0.88, 0.6),opacity 0.1s;
}
.ui-checkbox:hover {
    border-color: #1677ff;
}
.ui-checkbox:checked {
    background: #1677ff;
    border-color: transparent;
}
.ui-checkbox:checked::before {
    opacity: 1;
    -webkit-transform: translate(-50%, -50%) rotate(45deg) scale(1.2);
    -ms-transform: translate(-50%, -50%) rotate(45deg) scale(1.2);
    transform: translate(-50%, -50%) rotate(45deg) scale(1.2);
    -webkit-transition: all 0.2s cubic-bezier(0.12, 0.4, 0.29, 1.46) 0.1s;
    -o-transition: all 0.2s cubic-bezier(0.12, 0.4, 0.29, 1.46) 0.1s;
    transition: all 0.2s cubic-bezier(0.12, 0.4, 0.29, 1.46) 0.1s;
}
.ui-checkbox:active:not(:checked)::after {
    -webkit-transition: none;
    -o-transition: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    transition: none;
    opacity: 1;
}
.checkbox-container h4{
    font-weight: bold;
    font-size: 25px;
}
.checkbox-label {
    display: flex;
    gap: 12px;
}
.checkbox-container-aux{
    display: flex;
    gap: 12px;
}
.checkbox-label p {
    font-size: 18px;
    margin-top: 3px;
}
.checkbox-container .t_estado{
    font-weight: bold;
    font-size: 18px;
}
.checkbox-label {
    display: flex;
    gap: 12px;
}
.checkbox-label p {
    font-size: 18px;
    margin-top: 1px;
}
.checkbox-container2 {
    margin-top: 18px;
}
.input-electric { 
    width: 250px;
}
.input-gas {
    width: 313px;
}
.input-internet {
    width: 279.5px;
}
.label-aux {
    width: 200px;
    font-size: 10px;
    margin-right: 0px;
}
.input-agua{
    width: 300px;
}
.checkbox-container2 {
    display: flex;
    gap: 150px;
}
.checkbox-container4 {
    margin-top: -20px;
}
.checkbox-container4 ul {
    list-style-type: none;
    margin-left: -20px;
}
/* ---------------------------------------------------Fin de checkbox----------------Documentos ---------------------------------------------------------------------------- */
.pre-label-documentos{
    display: flex;
    font-weight: bold;
    font-size: 18px;
    padding-top: 4px;
}
.pre-label-documentos p, .label-p  {
    color:red
}
.documents {
    margin-top: 30px;
}
.documents input[type="file"]::-webkit-file-upload-button {
    background-color: rgb(85, 113, 255); /* Change to your desired blue shade */
    color: white; /* Adjust text color for better contrast */
    border: none;
    padding: 8px 10px; /* Adjust padding as needed */
    border-radius: 4px; /* Add a subtle border radius */
    cursor: pointer;
}
.documents input[type="file"]:hover::file-selector-button {
    background-color: rgb(22, 111, 255); /* Blue color on hover */
    color: white;
}
.documents input[type="file"]:focus::file-selector-button {
    background-color: #1677ff; /* Blue color on focus (file selected) */
}
/* -----------------------------------------------fin de Documentos---------------------------------inicio de descripción----------------------- */
.input-descrip {
    margin-left: 20px;
    width: 1007px;
    height: 50px;
    margin-bottom: 25px;
}
.label-decrip {
    margin-left: 20px;
}
/* -----------------------------------------------fin de documentos---------------------------------inicio de iamgenes----------------------- */
.container-image ul {
    list-style-type: none;
    display: flex; /* Asegura que los elementos hijos se comporten como flex items */
    flex-wrap: wrap; /* Permite que los elementos se envuelvan en nuevas líneas si no hay suficiente espacio */
    justify-content: center;
    gap: 12px;
    margin-left: -25px;
}
.container-image h3 {
    margin-bottom: 25px;
}
#lista-imagenes li {
    flex-basis: calc(20% - 10px); /* Cada elemento ocupa aproximadamente el 20% del ancho total, menos el espacio de margen */
    margin-bottom: 10px; /* Agrega un poco de espacio debajo de cada imagen para separarlas */
}
#lista-imagenes img {
    box-shadow: 0 0 0 calc(8px / 2.5) #000000;
    width: 100%; 
    height: auto;
}
.image-container {
    margin-left: 60px;
    margin-bottom: 50px;
}
.btnDescuento, .btnCancelar, .btnConfirmar{
    margin-left: -20px;
    margin-top: 5px;
    margin-bottom: 20px;
    width: 130px;
    height: 35px;
    border-radius: 10px;
    background-color: #1677ff;
    color: white;
    font-weight: bold;
    font-size: 18px;
    cursor: pointer;
    border: 2px dashed #1677ff;
    box-shadow: 0px 48px 35px -48px rgba(0,0,0,0.1);
    padding-top: 2px;
}
.btnCancelar, .btnConfirmar{
    margin-top: 20px;
}
.btnConfirmar {
    margin-left: 30px;
}
.btnCancelar:hover {
    background-color: #db1212;
    border: 2px dashed #db1212;
}
.container-descuento{
    margin-top: 20px;
}
