{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <link rel="stylesheet" href='{% static "css/analisis/modal_pago.css" %}' type="text/css">
    <title>Modal de Pago</title>
</head>
<body>
    <form action="{% url 'confirmarPago' id=propietario.id %}" method="post" id="ModalPago" enctype="multipart/form-data">
        {% csrf_token %}
        {% for inmueble, valor_pagar, DocDescuentos in inmuebles %}
            <div class="form-check">
                <div class="checkbox-container checkbox-container-aux">
                    <div class="checkbox-container2">
                        <div class="checkbox-label">
                            <label class="checkbox-label">
                                <input type="checkbox" class="form-check-input checkInmueble ui-checkbox ui-checkbox-aux" id="checkInmueble_{{ inmueble.id }}" name="inmueblesId" value="{{ inmueble.id }}"  data-canon="{{ valor_pagar }}">
                                <label class="container-aux3 form-check-label" for="checkInmueble_{{ inmueble.id }}">
                                    <p>{{ inmueble.id }} <img width="24" height="24" src="https://img.icons8.com/sci-fi/23/home.png" alt="home"/> - {{ inmueble.direccion }} - ${{ valor_pagar }}</p>
                                </label> 
                            </label>
                        </div>
                    </div>
                </div>
                <input type="hidden" id="totalPagar" name="totalPagar_{{ inmueble.id }}" value="{{ valor_pagar }}">
                <!-- Sección de descuentos por inmueble -->
                <div class="descuentoSection" style="display: none;" data-inmueble-id="{{ inmueble.id }}">
                    <div class="descuentos-existentes">
                        {% for descuento in DocDescuentos %}
                            <div class="descuento-item">
                                <p class="id-descuento">{{ descuento.id }}</p>
                                <p class="descripcion">{{ descuento.descrip }}</p>
                                <p>Fecha: {{ descuento.fecha }}</p>
                                <p class="valor-descuento">Valor: ${{ descuento.valor }}</p>
                            </div>
                        {% empty %}
                            <p>No hay descuentos registrados.</p>
                        {% endfor %}
                    </div>
                    <!-- Botones para aplicar o cancelar los descuentos -->
                    <button type="button" class="btnCancelar" data-inmueble-id="{{ inmueble.id }}" style="display:none;">No aplicar</button>
                    <button type="button" class="btnConfirmar" data-inmueble-id="{{ inmueble.id }}" style="display:none;">Aplicar</button>
                </div>

                <p id="pConfirmacion_{{ inmueble.id }}" class="confirma"  name="pConfirmacion_{{ inmueble.id }}" style="display:none;">Descuento aplicado con éxito</p>
            </div>
        {% endfor %}
          
        <div>
            <p><strong>Total a Pagar:</strong> <span id="totalPago">0</span></p>
        </div>
    </form>
</body>
</html>
