{% extends "barra_navegacion.html" %}
{% load static %}

{% block static %}
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script type="text/javascript"  src='{% static "js/all.js" %}'></script>
    <script type="text/javascript"  src='{% static "js/inmuebles/add_inmueble.js" %}'></script>
    <link rel="stylesheet" href='{% static "css/inmuebles/add_inmueble.css" %}' type="text/css">
{% endblock static %}

{% block encabezado %}
    Add Propietarios
{% endblock encabezado %}

{% block title %}

{% endblock title %}

{% block contenido %}
    <h2>Añadir Inmueble</h2>
    <h4>Lo marcado con "*" es un campo obligatorio</h4><br><br>
    <form action="{% url 'guardarInmueble' %}" method="post" id="addInmueble" enctype="multipart/form-data">
        {% csrf_token %}
        <h3>Información general</h3>
        
        <label for="propietario">Propietario:</label>
        <select name="propietario" required>
            <option value="">Seleccionar el propietario</option>
            {% for info in propietarios_info %}
            <option value="{{ info.id }}">{{ info.nombre_completo }}</option>
            {% endfor %}
        </select><br>

        <label for="porcentaje_descuento">Porcentaje de comisión</label>
        <select name="porcentaje_descuento" id="porcentaje_descuento" required>
            <option value="">Seleccione un valor</option>
            <option value="1">13%</option>
            <option value="2">12%</option>
            <option value="3">12.5%</option>
            <option value="4">10%</option>
            <option value="5">9%</option>
            <option value="6">8%</option>
        </select><br>

        <label for="direccion">Direccion</label>
        <input type="text" name="direccion" id="direccion" placeholder="Escribir" required><br>

        <label for="tipo_inmueble">Tipo de Inmueble</label>
        <select name="tipo_inmueble" id="tipo_inmueble" required>
            <option value="">Selecciona el Inmueble</option>
            <option value="1">Casa</option>
            <option value="2">Apartamento</option>
            <option value="3">Local</option>
            <option value="4">Aparta-estudio</option>
        </select><br>

        <label for="canon">Canon - Valor</label>
        <input type="number" name="canon" id="canon" placeholder="$$$$$$$$" required><br>

        <label for="tipo_estado">Tipo de estado</label>
        <select name="tipo_estado" id="tipo_estado" required>
            <option value="">Seleccione el estado</option>
            <option value="1">Activo</option>
            <option value="2">Inactivo</option>
            <option value="3">En proceso</option>
            <option value="4">Indefinido</option>
        </select><br>

        <label for="arrendatario">Arrendatario:</label>
        <select name="arrendatario">
            <option value="">Seleccionar al arrendatario
            </option>
            <option value="">Aún no tiene arrendatario</option>
            {% for info in arrendatarios_info %}
            <option value="{{ info.id }}">{{ info.nombre_completo }}</option>
            {% endfor %}
        </select><br>

        <label for="servicios">Elige los servicios incluidos:</label>
            <div> 
            <label><input type="checkbox" name="opciones" value="Agua"> Agua</label><br>
            <label><input type="checkbox" name="opciones" value="Electricidad"> Electricidad</label><br>
            <label><input type="checkbox" name="opciones" value="Gas"> Gas</label><br>
            <label><input type="checkbox" name="opciones" value="Internet"> Internet</label><br>
            </div>
            
        
        <label for="descrip">Descripción</label>
        <input type="text" name="descrip" id="descrip" placeholder="Escribir"><br>

        <label for="imagen">Imagenes</label>
        <input type="file" name="imagen" id="imagen" accept="image/*"><br>

        <label for="documento">Documentos</label>
        <input type="file" name="documento" id="documento" accept=".txt,.doc,.docx,.xls,.xlsx,.ppt,.pptx,.pdf"><br>

        <button type="submit" name="add" id="add" value="1">Guardar</button>
    </form>
    <button  name="borrar" id="borrar" value="2" onclick="resetForm()">Eliminar</button> <label for="cancelar">Eliminar, limpiara todos los campos</label><br><br><br> <!-- Se debe aplicar JS para limpiar los campos del Form -->
{% endblock %}

