{% extends "barra_navegacion.html" %}
{% load static %}

{% block static %}
  <script type="text/javascript"  src='{% static "js/personas/personas_propietarios.js" %}'></script>
  <link rel="stylesheet" href='{% static "css/inmuebles/individuo_inmueble.css" %}' type="text/css">
{% endblock static %}

{% block encabezado %}
  Individuo Inmueble
{% endblock encabezado %}

{% block title %}
{% endblock title %}

{% block contenido %}
  {% for inmueble, doc, tipo, habilitada in inmueble %}
    <h2>Propietario del inmueble: {{ inmueble.propietario_id.usuarios_id.nombre }} {{ inmueble.propietario_id.usuarios_id.apellido }}</h2>
    <form action="">
      <button type="">Edit</button><br><br>
      <label for="propietario_name">Nombre del Propietario</label>
      <input type="text" name="propietario_name" value="{{ inmueble.propietario_id.usuarios_id.nombre }}" readonly><br>
      <label for="propietario_apellido">Apellido del Propietario</label>
      <input type="text" name="propietario_name" value="{{ inmueble.propietario_id.usuarios_id.apellido }}" readonly><br>
      <label for="propietario_telefono">Telefono del Propietario</label>
      <input type="text" name="propietario_telefono" value="{{ inmueble.propietario_id.usuarios_id.telefono }}" readonly><br>
      <label for="direccion">Dirección</label>
      <input type="text" name="direccion" value="{{ inmueble.direccion}}" readonly><br>
      <label for="tipo">Tipo de inmueble</label>
      <input type="text" name="tipo" value="{{ tipo }}" readonly><br>
      <label for="arrendatario">Arrendatario: </label>
      {% if inmueble.arrendatario_id_id %}
      <input type="text" name="arrendatario" value="{{ inmueble.arrendatario_id.usuarios_id.nombre |add:' '|add:inmueble.arrendatario_id.usuarios_id.apellido }}" readonly><br>
      {% else %}
      <p>No tiene ningún arrendatario</p>
      {% endif %}

      <label for="estado">Estado del inmueble</label>
      <input type="text" name="estado" value="{{ habilitada }}" readonly><br>
      <label for="ref">Ref</label>
      <input type="text" name="ref" value="{{ inmueble.ref }}" readonly><br>
      <label for="valor">Valor del inmueble</label>
      <input type="text" name="valor" value="{{ inmueble.valor_seguro }}" readonly><br>
      <label for="decrip">Descripción</label>
      <input type="text" name="decrip" value="{{ inmueble.descripcion }}" readonly><br>
      <label for="documento">Documentos: </label>
      {% if doc.pdf %}
      <a href="{{ doc.pdf.url }}" target="_blank">Ver Documento</a> <br>
      {% else %}
      <p>No hay documentos relacionados</p>
      {% endif %}
      <label for="imagen">Imagen: </label>
      {% if doc.imagen %}
      <br><img src="{{ doc.imagen.url }}" name="imagen" width="200" height="200"><br>
      {% else %}
      <p>Este inmueble no tiene imagenes asociadas</p>
      {% endif %}
    
    </form>
  {% endfor %}

{% endblock %}

