{% extends "barra_navegacion.html" %}
{% load static %}

{% block static %}
  <link rel="stylesheet" href='{% static "css/inmuebles/inmueble.css" %}' type="text/css">
  <script type="text/javascript"  src='{% static "js/inmuebles/inmueble.js" %}'></script>
{% endblock static %}

{% block encabezado %}
  Inmuebles
{% endblock encabezado %}

{% block title %}
  Inmuebles y propiedades
{% endblock title %}

{% block contenido %}
  <h2>Inmueble</h2>
    <h3>Seguimiento de los Inmuebles</h3>
    <h5>Todos los Inmuebles Registrados en la plataforma</h5>
    <p>Total de Inmuebles: Numero-------------------</p> 
    <input type="search" id="buscar" name="buscar" placeholder="Buscar..."> <button name="filtro" id="filtro" value="3">Filtrar</button> <a href="{% url 'addInmu' %}"> + Añadir Inmueble</a>
    <br>
    <p>Tabla donde se muestran a todos los propietarios.</p>
    <table>
      <thead>
          <tr>
              <th>ID</th>
              <th>Propietario</th>
              <th>Telefono</th>
              <th>Referencia</th>
              <th>Dirección</th>
              <th>Tipo</th>
              <th>Valor</th>
              <th>Estado</th>
              <th>Inquilino</th>
          </tr>
      </thead>
      <tbody id="inmuebles">
        {% for inmueble, tipoInmueble, habilitada in inmuebles %}
          <tr>
            <td><button onclick="enviarValor('{{ inmueble.id }}', '{% url 'IndividuoInmueble' id=inmueble.id %}')" value="{{ inmueble.id }}">{{ forloop.counter }}</button></td>
            <td><button onclick="enviarValor('{{ inmueble.id }}', '{% url 'IndividuoInmueble' id=inmueble.id %}')" value="{{ inmueble.id }}">{{ inmueble.propietario_id.usuarios_id.nombre |add:" "|add:inmueble.propietario_id.usuarios_id.apellido }}</button></td>
            <td><button onclick="enviarValor('{{ inmueble.id }}', '{% url 'IndividuoInmueble' id=inmueble.id %}')" value="{{ inmueble.id }}">{{ inmueble.propietario_id.usuarios_id.telefono }}</button></td>
            <td><button onclick="enviarValor('{{ inmueble.id }}', '{% url 'IndividuoInmueble' id=inmueble.id %}')" value="{{ inmueble.id }}">{{ inmueble.ref }}</button></td>
            <td><button onclick="enviarValor('{{ inmueble.id }}', '{% url 'IndividuoInmueble' id=inmueble.id %}')" value="{{ inmueble.id }}">{{ inmueble.direccion }}</button></td>
            <td><button onclick="enviarValor('{{ inmueble.id }}', '{% url 'IndividuoInmueble' id=inmueble.id %}')" value="{{ inmueble.id }}">{{ tipoInmueble }}</button></td>
            <td><button onclick="enviarValor('{{ inmueble.id }}', '{% url 'IndividuoInmueble' id=inmueble.id %}')" value="{{ inmueble.id }}">{{ inmueble.valor_seguro }}</button></td>
            <td><button onclick="enviarValor('{{ inmueble.id }}', '{% url 'IndividuoInmueble' id=inmueble.id %}')" value="{{ inmueble.id }}">{{ habilitada }}</button></td>
            <td><button onclick="enviarValor('{{ inmueble.id }}', '{% url 'IndividuoInmueble' id=inmueble.id %}')" value="{{ inmueble.id }}">
              {% if inmueble.arrendatario_id_id %}
                    {{ inmueble.arrendatario_id.usuarios_id.nombre |add:" "|add:inmueble.arrendatario_id.usuarios_id.apellido}}
                  {% else %}
                    No existe
                  {% endif %}
            </button>
            </td>
          </tr>
        {% endfor %}
      </tbody>
{% endblock %}

