{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href='{% static "css/inmuebles/inmueble.css" %}' type="text/css">
    <title>Inmuebles</title>
</head>
<body>
    <h2>Inmuebles y propiedades</h2>
    <div class="containerr">
      <nav>
        <ul> <!-- Este estilo se debe poner luego en el CSS. Estilo temporal para mejor visualidad -->
        <br>
          <li><p>Logo</p></li>
          <li><a href="{% url 'inicio' %}">Inicio</a></li>
          <li><a href="#">Inmuebles</a></li>
          <li>
            <select name="personas" id="personas" onchange="location.href=this.value;">
              <option value="1">Personas</option>
              <option value="{% url 'personas_propietarios' %}">Propietarios</option>
              <option value="{% url 'personas_inquilinos' %}">Inquilinos</option>>
            </select>
          </li>
          <li>
            <select name="analisis" id="analisis" onchange="location.href=this.value;">
              <option value="1">Analisis</option>
              <option value="{% url 'analisis_propietarios' %}">Propietarios</option>
              <option value="{% url 'analisis_inquilinos' %}">Inquilinos</option>
            </select>
          </li>
          <li><a href="{% url 'tareas' %}">Tareas</a></li>
          <br>
          <li><a href="{% url 'close_session' %}">Cerrar Sesión</a></li>
          <li><a href="{% url 'noti' %}">Notificaciones</a></li>
          <li><p>Foto</p></li>
        </ul>
      </nav>
    </div>
    <h2>Inmueble</h2>
    <h3>Seguimiento de los Inmuebles</h3>
    <h5>Todos los Inmuebles Registrados en la plataforma</h5>
    <p>Total de Inmuebles: Numero-------------------</p> 
    <input type="search" id="buscar" name="buscar" placeholder="Buscar..."> <button name="filtro" id="filtro" value="3">Filtrar</button> <a href="{% url 'addInmu' %}"> + Añadir Inmueble</a>
    <br>
    <p>Tabla donde se muestran a todos los propietarios.</p>
    <table>
      <thead>
          <tr>
              <th>ID</th>
              <th>Propietario</th>
              <th>Dirección</th>
              <th>Tipo</th>
              <th>Telefono</th>
              <th>Valor</th>
              <th>Estado</th>
              <th>Inquilino</th>
          </tr>
      </thead>
      <tbody>
        <td></td>




      </tbody>
</body>
</html>