{% extends "barra_navegacion.html" %}
{% load static %}

{% block static %}
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script type="text/javascript"  src='{% static "js/all.js" %}'></script>
    <script type="text/javascript"  src='{% static "js/personas/add_inquilino.js" %}'></script>
    <link rel="stylesheet" href='{% static "css/personas/inquilinos/add_inquilino.css" %}' type="text/css">
{% endblock static %}

{% block encabezado %}
  Add Inquilino
{% endblock encabezado %}

{% block title %}
  
{% endblock title %}

{% block contenido %}
    <h2>Añadir Inquilino</h2>
    <h4>Lo marcado con "*" es un campo obligatorio</h4><br><br>
    <form action="{% url 'guardar_inquilino' %}" method="post" id="addInquilino">
        {% csrf_token %}
        <label for="inmueble" id="label" style="display:none;">Inmueble:</label>
        <select name="inmueble" id="selectInmu" style="display: none;">
            <option value="">Seleccionar el inmueble a asignar</option>
            {% for inmu in inmuebles %}
            <option value="{{ inmu.id }}">{{ inmu.ref|add:" - "|add:inmu.direccion }}</option>
            {% endfor %}
        </select><br>
        <h3>Información general</h3>

        <label for="nombre1">Primer Nombre *</label>
        <input type="text" name="nombre1" id="nombre1" placeholder="Escribir" required><br>

        <label for="nombre2">Segundo Nombre *</label>
        <input type="text" name="nombre2" id="nombre2" placeholder="Escribir" required><br>

        <label for="apellido1">Primer Apellido *</label>
        <input type="text" name="apellido1" id="apellido1" placeholder="Escribir" required><br>

        <label for="apellido2">Segundo Apellido *</label>
        <input type="text" name="apellido2" id="apellido2" placeholder="Escribir" required><br>

        <label for="tipo_documento">Tipo de Documento *</label>
        <select name="tipo_documento" id="tipo_documento" required>
            <option value="">Seleccione el tipo de documento</option>
            <option value="Cedula">Cedula de Ciudadania</option>
            <option value="Pasaporte">Pasaporte</option>
        </select><br>

        <label for="documento1">Documento *</label>
        <input type="number" name="documento1" id="documento1" placeholder="10002545785" required><br>

        <label for="expedida">Expedida en *</label>
        <input type="text" name="expedida" id="expedida" placeholder="Ciudad" required><br>

        <label for="email">Correo Electronico *</label>
        <input type="email" name="email" id="email" placeholder="Persona de contacto" required><br>

        <label for="email2">Correo Electronico 2 *</label>
        <input type="email" name="email2" id="email2" placeholder="Persona de contacto"><br>

        <label for="email3">Correo Electronico 3 *</label>
        <input type="email" name="email3" id="email3" placeholder="Persona de contacto"><br>

        <label for="phone">Telefono *</label>
        <input type="number" name="phone" id="phone" placeholder="3333333335" required><br>

        <label for="phone2">Telefono 2 *</label>
        <input type="number" name="phone2" id="phone2" placeholder="3333333335"><br>

        <label for="phone3">Telefono 3 *</label>
        <input type="number" name="phone3" id="phone3" placeholder="3333333335"><br>

        <input type="hidden" name="propie_client" id="propie_client" value="2" ><br><br>

        <!-- Guardado del usuario. -->

        <label for="direc">Direccion *</label>
        <input type="text" name="direc" id="direc" placeholder="Escribir" required><br>

        <label for="inicio_cobro">Fecha del Cobro *</label>
        <input type="date" name="inicio_cobro" id="inicio_cobro" placeholder="dd/mm/YYYY" required><br>

        <label for="inicioContrato">inicio del Contrato *</label>
        <input type="date" name="inicioContrato" id="inicioContrato" placeholder="Escribir" required><br>

        <label for="finContrato">Fin del Contrato *</label>
        <input type="date" name="finContrato" id="finContrato" placeholder="Escribir" required><br>

        <label for="tipo_contrato">Tipo de contrato *</label>
        <select name="tipo_contrato" id="tipo_contrato" required>
            <option value="">Seleccione el tipo de contrato</option>
            <option value="Trimestral">Trimestral</option>
            <option value="Semestral">Semestral</option>
            <option value="Anual">Anual</option>
            <option value="Indefinido">Indefinido</option>
        </select><br>

        <label for="obs">Espacio para Observaciones</label>
        <input type="text" name="obs" id="obs" placeholder="Detalles a tener en cuenta"><br><br><br>

        <label for="documento">Documentación</label>
        <input type="file" name="documento" id="documento"><br>

        <button type="submit" name="add" id="add" value="1">Guardar</button>
    </form>
    <button  name="borrar" id="borrar" value="2" onclick="resetForm()">Eliminar</button> <label for="cancelar">Eliminar, limpiara todos los campos</label><br><br><br> <!-- Se debe aplicar JS para limpiar los campos del Form -->
{% endblock %}