{% extends "barra_navegacion.html" %}
{% load static %}

{% block static %}
  <link rel="stylesheet" href='{% static "css/personas/Inquilinos/individuo_inquilino.css" %}' type="text/css">
  <script type="text/javascript"  src='{% static "js/personas/individuo_arrendatario.js" %}'></script>
  <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
{% endblock static %}

{% block encabezado %}
  Persona
{% endblock encabezado %}

{% block title %}

{% endblock title %}

{% block contenido %}
  <h2>Arrendatario: {{ usuario.nombre |add:" "|add:usuario.apellido}}</h2>
  <button type="button" id="btnEdit"name="btnEdit">Edit</button>
  <button type="button" id="btnCancel" style="display:none;">Cancelar</button><!-- CSS -->

  <form action="{% url 'ActualizarInquilino' %}" id="miFormulario" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <input type="hidden" name="id" id="id" value="{{ usuario.id }}">
    <input type="hidden" name="idP" id="idP" value="{{ arrendatario.id }}">

    <h4>Este Inquilino esta desde: {{ arrendatario.inicio }}</h4>

    <label for="inmueble">Inmueble Vinculado</label>
    <input type="text" name="inmueble" value="{{ inmueble.direccion }}" readonly><br>

    <label for="nombre">Nombre</label>
    <input type="text" name="nombre" value="{{ usuario.nombre }}" readonly><br>

    <label for="apellido">Apellido</label>
    <input type="text" name="apellido" value="{{ usuario.apellido }}" readonly><br>

    <label for="tipo_documento">Tipo de Documento</label>
    <select name="tipo_documento" id="tipo_documento" disabled> <!-- Cambiar y desarrollar el select para luego editar -->
        <option value="{{ usuario.tipo_documento }}">{{ usuario.tipo_documento }}</option>
        <option value="Cedula">Cedula de Ciudadania</option>
        <option value="Pasaporte">Pasaporte</option>
    </select><br>

    <label for="documento">Documento</label>
    <input type="number" name="documento" value="{{ usuario.documento }}" readonly><br>
    
    <label for="expedida">Expedida en</label>
    <input type="text" name="expedida" value="{{ usuario.expedida }}" readonly><br>

    <label for="telefono">Telefono principal</label>
    <input type="number" name="telefono" value="{{ usuario.telefono }}" readonly><br>
    
    <label for="telefono2">Telefono 2</label>
    <input type="number" name="telefono2" value="{{ usuario.telefono2 }}" readonly><br>
    
    <label for="telefono3">Telefono 3</label>
    <input type="number" name="telefono3" value="{{ usuario.telefono3 }}" readonly><br>

    <label for="email">Correo electronico principal</label>
    <input type="email" name="email" value="{{ usuario.email }}" readonly><br>
    
    <label for="email2">Correo electronico 2</label>
    <input type="email" name="email2" value="{{ usuario.email2 }}" readonly><br>
    
    <label for="email3">Correo electronico 3</label>
    <input type="email" name="email3" value="{{ usuario.email3 }}" readonly><br>

    <label for="direccion">Dirección</label>
    <input type="text" name="direccion" value="{{ arrendatario.direccion }}" readonly><br>

    <label for="fecha_inicio">Fecha de Pago</label>
    <input type="datetime" name="fecha_inicio" value="{{ arrendatario.fecha_inicio_cobro }}" readonly><br>
    <input type="hidden" name="fecha_inicioRes" value="{{ arrendatario.fecha_inicio_cobro }}">
    
    <label for="fecha_fin" id="LabelFechaFin">Límite de Pago</label>
    <input type="datetime" name="fecha_fin" value="{{ arrendatario.fecha_fin_cobro }}" readonly><br>

    <label for="inicio_contrato">Inicio del contrato</label>
    <input type="datetime" name="inicio_contrato" value="{{ arrendatario.inicio_contrato }}" readonly><br>
    <input type="hidden" name="inicio_contratoRes" value="{{ arrendatario.inicio_contrato }}">

    <label for="fin_contrato" id="LabelFinContrato">Fin del contrato</label>
    <input type="datetime" name="fin_contrato" value="{{ arrendatario.fin_contrato }}" readonly><br>

    <label for="estado">Estado</label>
    <input type="text" name="estado" value="{{ estado }}" readonly><br>
  

    <label for="tipo_contrato">Tipo de Contrato</label>
    <select name="tipo_contrato" id="tipo_contrato" disabled>
        <option value="{{ arrendatario.tipo_contrato }}">{{ arrendatario.tipo_contrato }}</option>
        <option value="Trimestral">Trimestral</option>
        <option value="Semestral">Semestral</option>
        <option value="Anual">Anual</option>

    </select><br>

    <label for="obs">Observaciones</label>
    <input type="text" name="obs" value="{{ arrendatario.obs }}" readonly><br>

    {% if documentos %}
      <h3>Documentos existentes:</h3>
      <ul>
        {% for doc in documentos %}
          <li>
            <a href="{{ doc.documento.url }}" target="_blank">{{ doc.documento.name }}</a>
            <input type="checkbox" name="eliminar_documentos" value="{{ doc.id }}" disabled> Eliminar
          </li>
        {% endfor %}
      </ul>
    {% endif %}

    <label for="documentos_nuevos">Cargar nuevos documentos:</label>
    <input type="file" name="documentos_nuevos" accept=".txt,.doc,.docx,.xls,.xlsx,.ppt,.pptx,.pdf" multiple disabled>

    <button type="submit" id="btnActualizar" style="display:none;">Actualizar</button><!-- CSS -->
  </form>
{% endblock %}
