{% extends "barra_navegacion.html" %}
{% load static %}

{% block static %}
  <script type="text/javascript"  src='{% static "js/personas/personas_inquilinos.js" %}'></script>
  <link rel="stylesheet" href='{% static "css/personas/inquilinos/personas_inquilinos.css" %}' type="text/css">
{% endblock static %}

{% block encabezado %}
  Inquilinos
{% endblock encabezado %}

{% block title %}
  Personas - Inquilinos
{% endblock title %}

{% block contenido %}
  <h2>Inquilinos</h2>
  <h3>Seguimiento de los inquilinos</h3>
  <h5>Todos los Inquilinos Registrados en la plataforma</h5>
  <p>Total de Inquilinos: {{ contador }}</p> 
  <input type="search" id="buscar" name="buscar" placeholder="Buscar..."> <button name="filtro" id="filtro" value="3">Filtrar</button> <a href="{% url 'AddInquilinos' %}"> + Añadir Inquilino</a>
  <br>
  <p>Tabla donde se muestran a todos los propietarios.</p>
  <table>
    <thead>
        <tr>
            <th>ID</th>
            <th>Nombre</th>
            <th>Dirección</th>
            <th>Tipo de documento</th>
            <th>Documento</th>
            <th>valor a cobrar</th>
            <th>Estado</th>
            <th>Email</th>
            <th>telefono</th>
        </tr>
    </thead>
    <tbody id="inquilinos">
      {% for usuario, estado, direccion, rango_ids, valorCobro in datosUsuario %}
      <tr>
          <td><button onclick="enviarValor('{{ usuario.id }}', '{% url 'IndividuoInquilino' id=usuario.id %}')" value="{{ usuario.id }}">{{ forloop.counter}}</button></td>
          <td><button onclick="enviarValor('{{ usuario.id }}', '{% url 'IndividuoInquilino' id=usuario.id %}')" value="{{ usuario.id }}">{{ usuario.nombre |add:" "|add:usuario.apellido}}</button></td>
          <td><button onclick="enviarValor('{{ usuario.id }}', '{% url 'IndividuoInquilino' id=usuario.id %}')" value="{{ usuario.id }}">{{ direccion }}</button></td>
          <td><button onclick="enviarValor('{{ usuario.id }}', '{% url 'IndividuoInquilino' id=usuario.id %}')" value="{{ usuario.id }}">{{ usuario.tipo_documento }}</button></td>
          <td><button onclick="enviarValor('{{ usuario.id }}', '{% url 'IndividuoInquilino' id=usuario.id %}')" value="{{ usuario.id }}">{{ usuario.documento }}</button></td>
          <td><button onclick="enviarValor('{{ usuario.id }}', '{% url 'IndividuoInquilino' id=usuario.id %}')" value="{{ usuario.id }}">{{ valorCobro }}</button></td>
          <td><button onclick="enviarValor('{{ usuario.id }}', '{% url 'IndividuoInquilino' id=usuario.id %}')" value="{{ usuario.id }}">{{ estado }}</button></td>
          <td><button onclick="enviarValor('{{ usuario.id }}', '{% url 'IndividuoInquilino' id=usuario.id %}')" value="{{ usuario.id }}">{{ usuario.email }}</button></td>
          <td><button onclick="enviarValor('{{ usuario.id }}', '{% url 'IndividuoInquilino' id=usuario.id %}')" value="{{ usuario.id }}">{{ usuario.telefono }}</button></td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock %}

