{% extends "barra_navegacion.html" %}
{% load static %}

{% block static %}
    <script type="text/javascript"  src='{% static "js/all.js" %}'></script>
    <link rel="stylesheet" href='{% static "css/tareas/add_tarea.css" %}' type="text/css">
{% endblock static %}

{% block encabezado %}
  Add Tareas
{% endblock encabezado %}

{% block title %}
    <div class="title-add">
        <h2>Añadir Tareas</h2>
    </div>
{% endblock title %}

{% block contenido %}
    <form action="{% url 'GuardarTarea' %}" method="post" id="addTarea">
        {% csrf_token %}
        <div class="contenido">
            <div class="firts-block-form">
                <div class="container">
                    <input required="" type="text" name="titulo" id="titulo" class="input" required>
                    <label for="titulo" class="label"><p>*</p>Tutilo</label>
                </div>
                <div class="container">
                    <input required="" type="text" name="descrip" id="descrip" class="input" required>
                    <label for="descrip" class="label"><p>*</p>Descripcion</label>
                </div>
                <label for="estado" class="pre-label"><p>*</p>Estado</label>
                <select name="estado" id="estado" class="form-select" required>
                    <option value="">Seleccione el tipo de estado</option>
                    <option value="1">Pendiente</option>
                    <option value="2">Completa</option>
                    <option value="3">Incompleta</option>
                </select>
                
            </div>
            <br><br>
            <div class="second-block-form">
                <div class="container">
                    <input  type="date" name="fecha_inicio" id="fecha_inicio" class="input" required>
                    <label class="label-fecha-pago"><p>*</p>Fecha del pago</label>
                </div>
                <div class="container">
                    <input  type="date" name="fecha_fin" id="fecha_fin" class="input" required>
                    <label class="label-fecha-pago"><p>*</p>Fecha de vencimiento</label>
                </div> 
                <label for="etiqueta" class="pre-label"><p> * </p>Etiqueta</label>
                <select name="etiqueta" id="etiqueta" class="form-select" required>
                    <option value="">Seleccione el tipo etiqueta</option>
                    <option value="1">Presentar</option>
                    <option value="2">Visitar</option>
                    <option value="3">Mantenimiento</option>
                    <option value="4">Urgente</option>
                </select>
            </div>
            <br><br>
            <div class="third-block-form">
                <div class="container">
                    <input  type="time" name="hora_programada" id="hora_programada" class="input" required>
                    <label class="label-fecha-pago"><p>*</p>Hora Programada</label>
                </div> 
                <label for="usuario"class="pre-label"><p> * </p>Responsable</label>
                <select name="usuario" class="form-select">
                    <option value="">Responsable de la tarea</option>
                    {% for nombre, apellido, id in nombres_usuario %}
                    <option value="{{ id }}">{{ nombre |add:" "|add:apellido }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="fourth-block-form">
                <button class="btn-guardar" type="submit" name="add" id="add" value="1">Guardar</button> 
                <button  class="btn-eliminar" name="borrar" id="borrar" value="2" onclick="resetForm()">Eliminar</button>
                <label for="cancelar" class="label-eliminar">Nota: Eliminar, limpiara todos los campos</label> 
            </div><br><br>
        </div>
    </form>
{% endblock %}
