{% extends "barra_navegacion.html" %}
{% load static %}

{% block static %}
  <script type="text/javascript"  src='{% static "js/tareas/dash_tareas.js" %}'></script>
  <link rel="stylesheet" href='{% static "css/tareas/dash_tareas.css" %}' type="text/css">
{% endblock static %}

{% block encabezado %}
  Tareas
{% endblock encabezado %}

{% block title %}
  Tareas
{% endblock title %}

{% block contenido %}
  <h2>Manejo de tareas y eventos</h2>
  <h3>Seguimiento de las tareas</h3>
  <h5>Todos las tareas Registradas en la plataforma</h5>
  <!-- Pendiente de preguntar en la siguiente reunión. -->
  <!-- <input type="search" id="buscar" name="buscar" placeholder="Buscar...">  --><button name="filtro" id="filtro" value="3">Filtrar</button> <a href="{% url 'AddTarea' %}"> + Añadir Tarea</a>
  <br>

  <h2>Pendientes</h2>
  <ul id="lista-tareas">
    {% for tarea in context.pendientes %}
    <button class="btn btn-primary tarea-btn" data-tarea-id="{{ tarea.id }}" data-bs-toggle="modal" data-bs-target="#exampleModal" data-bs-whatever="@getbootstrap" data-id="{{ tarea.id }}" data-descripcion="{{ tarea.descripcion }}"> 
      Etiqueta: {{ tarea.etiqueta }}
      <h3>Titulo: {{ tarea.titulo }}</h3>
      Fecha inicio: {{ tarea.fecha_inicio }} Fecha fin: {{ tarea.fecha_fin }}
      <h4>{{ tarea.superuser_id.nombre }} {{ tarea.superuser_id.apellido }}</h4></button><br>
    ----------------------------------------------------- <br><br><!-- Estos guiones solo son para guiarnos y saber cuando termina cada tarea -->
    {% endfor %}
  </ul>

  <h2>Completas</h2>
  <ul>
    {% for tarea in context.completas %}
    <button class="btn btn-primary tarea-btn" data-tarea-id="{{ tarea.id }}" data-bs-toggle="modal" data-bs-target="#exampleModal" data-bs-whatever="@getbootstrap" data-id="{{ tarea.id }}" data-descripcion="{{ tarea.descripcion }}">
      <li>Etiqueta: {{ tarea.etiqueta }}</li>
      <li><h3>Titulo: {{ tarea.titulo }}</h3></li>
      <li>Fecha incio: {{ tarea.fecha_inicio }}      Fecha fin: {{ tarea.fecha_fin }}</li>
      <h4>{{ tarea.superuser_id.nombre }} {{ tarea.superuser_id.apellido }}</h4></button><br>
      -----------------------------------------------------<br><br>
    {% endfor %}
  </ul>

  <h2>Incompletas</h2>
  <ul>
    {% for tarea in context.incompletas %}
    <button class="btn btn-primary tarea-btn" data-tarea-id="{{ tarea.id }}" data-bs-toggle="modal" data-bs-target="#exampleModal" data-bs-whatever="@getbootstrap" data-id="{{ tarea.id }}" data-descripcion="{{ tarea.descripcion }}">

      <li>Etiqueta: {{ tarea.etiqueta }}</li>
      <li><h3>Titulo: {{ tarea.titulo }}</h3></li>
      <li>Fecha incio: {{ tarea.fecha_inicio }}      Fecha fin: {{ tarea.fecha_fin }}</li>
      <h4>{{ tarea.superuser_id.nombre }} {{ tarea.superuser_id.apellido }}</h4></button><br>
      -----------------------------------------------------<br><br>
    {% endfor %}
  </ul><br><br><br>

  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Descripción de tarea</h5>
          <button type="button" class="btn-close closeModal" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary closeModal" data-bs-dismiss="modal">Cerrar</button>
          <button type="button" class="btn btn-primary actualizarM">Actualizar</button>
        </div>
      </div>
    </div>
  </div>

{% endblock %}