<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Modal</title>
</head>
<body>
    <h2>Titulo:</h2>
    <form action="{% url 'actualizarModal' %}"  id="form_modal" method="post">
        {% csrf_token %}
        <input type="hidden" name="idTarea" value="{{ objetoTarea.id }}">
        <input type="text" name="titulo" id="titulo" value="{{ objetoTarea.titulo }}"><br>
        <h4>{{ objetoTarea.estado }}</h4> <br><br><br><!-- Ponerle color depende del estado. -->

        <h4>Fecha de inicio:</h4> <br>
        <input type="date" name="fechaInicio" id="fechaInicio">
        <input type="hidden" name="inicioRes" id="inicioRes" value="{{ objetoTarea.fecha_inicio }}"> <input type="datetime" name="inicioRes2" id="inicioRes2" value="{{ objetoTarea.fecha_inicio }}" readonly>
        <br><br>
        <h4>Fecha de fin:</h4><br>
        <input type="date" name="fechaFin" id="fechaFin"> 
        <input type="hidden" name="finRes" id="finRes" value="{{ objetoTarea.fecha_fin }}"> <input type="datetime" name="finRes2" id="finRes2" value="{{ objetoTarea.fecha_fin }}" readonly>
        <br><br>

        <h4>Hora:</h4><br>
        <input type="time" name="hora_inicio" id="hora_inicio">
        <input type="hidden" name="horaRes" id="horaRes" value="{{ objetoTarea.hora_inicio }}"> <input type="datetime" name="horaRes2" id="horaRes2" value="{{ objetoTarea.hora_inicio }}" readonly><br><br>

        <h4>Descripción:</h4>
        <input type="text" name="descrip" id="descrip" value="{{ objetoTarea.descrip }}">
        <br><br>
        <h4>Etiqueta:</h4>
        <select name="etiqueta" id="etiqueta">
            <option value="{{ objetoTarea.etiqueta }}">{{ objetoTarea.etiqueta }}</option>
            <option value="Presentar">Presentar</option>
            <option value="Visitar">Visitar</option>
            <option value="Mantenimiento">Mantenimiento</option>
            <option value="Urgente">Urgente</option>
        </select>
        <br><br><br>


        <h4>Responsable:</h4>
        <select name="usuario">
            <option value="{{ objetoTarea.superuser_id_id }}">Cambiar a</option>
            {% for nombre, apellido, id in nombres_usuario %}
            <option value="{{ id }}">{{ nombre |add:" "|add:apellido }}</option>
            {% endfor %}
        </select><br>
    </form>
    <br><br>
</body>
</html>