{% extends "barra_navegacion.html" %}
{% load static %}

{% block static %}
  <script type="text/javascript"  src='{% static "js/analisis/analisis_propietarios.js" %}'></script>
  <link rel="stylesheet" href='{% static "css/analisis/propietarios/analisis_propietarios.css" %}' type="text/css">
{% endblock static %}

{% block encabezado %}
  Analisis
{% endblock encabezado %}

{% block title %}
  Analisis - Propietarios
{% endblock title %}

{% block contenido %}
  <h2>Seguimiento de propietarios activos</h2>
  <h5>Estado de los propietarios activos en la plataforma con respecto al pago mensual de la cuota del arrendamiento</h5>
  <p>Total de propietarios: {{ contador }}</p> 
  <input type="search" id="buscar" name="buscar" placeholder="Buscar...">
  <button name="filtro" id="filtro" value="3">Filtrar</button> <a href="{% url 'addPropietario' %}"> + Añadir Propietario</a>
  <br>
  <p>Tabla donde se muestran a todos los propietarios.</p>
  <table>
    <thead>
        <tr>
            <th>ID</th>
            <th>Nombre</th>
            <th>Dirección</th>
            <th>Fecha de pago</th>
            <th>Telefono</th>
            <th>Valor de Pago</th>
            <th>Estado</th>
            <th>Email</th>
        </tr>
    </thead>
    <tbody id="propietarios">
      {% for usuario, direccion, rango_ids, fechaPago, valorPago, estados in datosUsuario %}
      <tr>
          <td><button onclick="enviarValor('{{ usuario.id }}', '{% url 'AllValues' id=usuario.id %}')" value="{{ usuario.id }}">{{ forloop.counter}}</button></td>
          <td><button onclick="enviarValor('{{ usuario.id }}', '{% url 'AllValues' id=usuario.id %}')" value="{{ usuario.id }}">{{ usuario.nombre |add:" "|add:usuario.apellido}}</button></td>
          <td><button onclick="enviarValor('{{ usuario.id }}', '{% url 'AllValues' id=usuario.id %}')" value="{{ usuario.id }}">{{ direccion }}</button></td>
          <td><button onclick="enviarValor('{{ usuario.id }}', '{% url 'AllValues' id=usuario.id %}')" value="{{ usuario.id }}">{{ fechaPago }}</button></td>
          <td><button onclick="enviarValor('{{ usuario.id }}', '{% url 'AllValues' id=usuario.id %}')" value="{{ usuario.id }}">{{ usuario.telefono }}</button></td>
          <td><button onclick="enviarValor('{{ usuario.id }}', '{% url 'AllValues' id=usuario.id %}')" value="{{ usuario.id }}">{{ valorPago }}</button></td>
          <td><button onclick="enviarValor('{{ usuario.id }}', '{% url 'AllValues' id=usuario.id %}')" value="{{ usuario.id }}">{{ estados }}</button></td>
          <td><button onclick="enviarValor('{{ usuario.id }}', '{% url 'AllValues' id=usuario.id %}')" value="{{ usuario.id }}">{{ usuario.email }}</button></td>

      </tr>
      {% endfor %}
  </tbody>
</table>

{% endblock %}
