{% extends "barra_navegacion.html" %}
{% load static %}

{% block static %}
  <link rel="stylesheet" href='{% static "css/personas/propietarios/individuo_propietario.css" %}' type="text/css">
  <script type="text/javascript"  src='{% static "js/personas/individuo_propietario.js" %}'></script>
{% endblock static %}

{% block encabezado %}
  Persona
{% endblock encabezado %}

{% block title %}
{% endblock title %}

{% block contenido %}
  <h2>Propietario: {{ usuario.nombre |add:" "|add:usuario.apellido}}</h2>
  <h5>Inmuebles registrados: {{cantidad_inmuebles}}</h5>
  <button type="button" id="btnEdit"name="btnEdit">Edit</button>
  <button type="button" id="btnCancel" style="display:none;">Cancelar</button><!-- CSS -->
  
  <form action="{% url 'ActualizarPropietario' %}" id="miFormulario" method="post" enctype="multipart/form-data">
      {% csrf_token %}
      <br><br>
      <input type="hidden" name="id" id="id" value="{{ usuario.id }}">
      <input type="hidden" name="idP" id="idP" value="{{ propietario.id }}">
      <label for="nombre">Nombre</label>
      <input type="text" name="nombre" value="{{ usuario.nombre }}" readonly><br>
      
      <label for="apellido">Apellido</label>
      <input type="text" name="apellido" value="{{ usuario.apellido }}" readonly><br>

      <label for="tipo_documento">Tipo de Documento</label>
              <select name="tipo_documento" id="tipo_documento" disabled> 
                  <option value="{{ usuario.tipo_documento }}">{{ usuario.tipo_documento }}</option>
                  <option value="Cedula">Cedula de Ciudadania</option>
                  <option value="Pasaporte">Pasaporte</option>
              </select><br>

      <label for="documento">Documento</label>
      <input type="number" name="documento" value="{{ usuario.documento }}" readonly><br>

      <label for="expedida">Expedida en</label>
      <input type="text" name="expedida" value="{{ usuario.expedida }}" readonly><br>

      <label for="telefono">Telefono principal</label>
      <input type="number" name="telefono" value="{{ usuario.telefono }}" readonly><br>
      
      <label for="telefono2">Telefono 2</label>
      <input type="number" name="telefono2" value="{{ usuario.telefono2 }}" readonly><br>
      
      <label for="telefono3">Telefono 3</label>
      <input type="number" name="telefono3" value="{{ usuario.telefono3 }}" readonly><br>

      <label for="email">Correo electronico principal</label>
      <input type="email" name="email" value="{{ usuario.email }}" readonly><br>
      
      <label for="email2">Correo electronico 2</label>
      <input type="email" name="email2" value="{{ usuario.email2 }}" readonly><br>
      
      <label for="email3">Correo electronico 3</label>
      <input type="email" name="email3" value="{{ usuario.email3 }}" readonly><br>

      <label for="direccion">Dirección</label>
      <input type="text" name="direccion" value="{{ propietario.direccion }}" readonly><br>

      <label for="fecha_pago">Fecha de Pago</label>
      <input type="datetime" name="fecha_pago" value="{{ propietario.fecha_pago }}" readonly><br>
      <input type="hidden" name="respaldo_fecha" value="{{ propietario.fecha_pago }}">

      <label for="habilitarPago">Estado del Pago</label>
      <select name="habilitarPago" id="habilitarPago" disabled>
          <option value="{{ propietario.habilitarPago }}">{{ pago }}</option>
          <option value="1">Pagado</option>
          <option value="2">Debe</option>
          <option value="3">No pago</option>
          <option value="4">Indefinido</option>
      </select><br>

      <label for="obs">Observaciones</label>
      <input type="text" name="obs" value="{{ propietario.obs }}" readonly><br>
      <button type="submit" id="btnActualizar" style="display:none;">Actualizar</button><!-- CSS -->

      {% if documentos %}
        <h3>Documentos existentes:</h3>
        <ul>
          {% for doc in documentos %}
            <li>
              <a href="{{ doc.documento.url }}" target="_blank">{{ doc.documento.name }}</a>
              <input type="checkbox" name="eliminar_documentos" value="{{ doc.id }}" disabled> Eliminar
            </li>
          {% endfor %}
        </ul>
      {% endif %}

      <label for="documentos_nuevos">Cargar nuevos documentos:</label>
      <input type="file" name="documentos_nuevos" accept=".txt,.doc,.docx,.xls,.xlsx,.ppt,.pptx,.pdf" multiple disabled>
  </form>

{% endblock %}
