{% extends "barra_navegacion.html" %}
{% load static %}

{% block static %}
  <script type="text/javascript"  src='{% static "js/personas/personas_propietarios.js" %}'></script>
  <link rel="stylesheet" href='{% static "css/personas/propietarios/personas_propietarios.css" %}' type="text/css">
{% endblock static %}

{% block encabezado %}
  Propietarios
{% endblock encabezado %}

{% block title %}

{% endblock title %}


{% block contenido %}
  <h3>Seguimiento de Propietarios</h3>
  <h5>Todos los propietarios Registrados en la plataforma</h5>
  <p>Total de propietarios: {{ contador }}</p> 
  <input type="search" id="buscar" name="buscar" placeholder="Buscar..."> <button name="filtro" id="filtro" value="3">Filtrar</button> <a href="{% url 'addPropietario' %}"> + Añadir Propietario</a>
  <br>
  <p>Tabla donde se muestran a todos los propietarios.</p><br>
  <table>
    <thead>
        <tr>
            <th>ID</th>
            <th>Nombre</th>
            <th>Apellido</th>
            <th>Tipo de documento</th>
            <th>Documento</th>
            <th>Email</th>
            <th>Estado</th>
            <th>telefono</th>
        </tr>
    </thead>
    <tbody id="propietarios">
      {% for usuario, estado, rango_ids in datosUsuario %}
      <tr>
          
        <td><button onclick="enviarValor('{{ usuario.id }}', '{% url 'IndividuoPropietario' id=usuario.id %}')" value="{{ usuario.id }}">{{ rango_ids }}</button></td>
        <td><button onclick="enviarValor('{{ usuario.id }}', '{% url 'IndividuoPropietario' id=usuario.id %}')" value="{{ usuario.id }}">{{ usuario.nombre }}</button></td>
        <td><button onclick="enviarValor('{{ usuario.id }}', '{% url 'IndividuoPropietario' id=usuario.id %}')" value="{{ usuario.id }}">{{ usuario.apellido }}</button></td>
        <td><button onclick="enviarValor('{{ usuario.id }}', '{% url 'IndividuoPropietario' id=usuario.id %}')" value="{{ usuario.id }}">{{ usuario.tipo_documento }}</button></td>
        <td><button onclick="enviarValor('{{ usuario.id }}', '{% url 'IndividuoPropietario' id=usuario.id %}')" value="{{ usuario.id }}">{{ usuario.documento }}</button></td>
        <td><button onclick="enviarValor('{{ usuario.id }}', '{% url 'IndividuoPropietario' id=usuario.id %}')" value="{{ usuario.id }}">{{ usuario.email }}</button></td>
        <td><button onclick="enviarValor('{{ usuario.id }}', '{% url 'IndividuoPropietario' id=usuario.id %}')" value="{{ usuario.id }}">{{ estado }}</button></td>
        <td><button onclick="enviarValor('{{ usuario.id }}', '{% url 'IndividuoPropietario' id=usuario.id %}')" value="{{ usuario.id }}">{{ usuario.telefono }}</button></td>
      
      </tr>
      {% endfor %}
    </tbody>
  </table>

{% endblock %}
